.searchBar {
  display: flex;
  align-items: center;
  background-color: #f9f9ff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0.5rem;
  width: 280px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
}

.icon {
  width: 16px;
  height: 16px;
  margin-left: 0.5rem;
  cursor: pointer;
}
